.idea
.cover
coverage
/gohook
/test/hookecho
build
hooks.json
.env
/ui/package-lock.json
.cursor/

# Logs
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurations
/app.yaml
/user.yaml
/version.yaml
/user.yaml.bak
/version.yaml.bak
*.bak
*.yaml

# Binary
gohook
gohook.db

# Folders
node_modules/
**/*-packr.go
/hooks.json
yarn.lock
server.log

